@(builds: Set[domain.Build])
        
<h2>Builds list</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>
            Job name
        </th>
        <th>
            Failed
        </th>
        <th>
            In progress
        </th>
    </tr>
    </thead>
    <tbody>
    @for(build <- builds) {
    <tr class='@if(build.status.isFailed) {error}'>
        <td>@build.identifier.name</td>
        <td>@build.status.isFailed</td>
        <td>@build.status.isInProgress</td>
    </tr>
    }
    </tbody>
</table>